 %condiction-btn {
     padding: 2px 20px;
     width: 130px;
     border-radius: 4px;
     margin: 5px;
     font-weight: 600;
 }
 
 .btn-wrapper {
     display: flex;
     justify-content: center;
     margin: 20px auto;
     .userInfo-submit-btn {
         background: #009966;
         color: white;
         border: #009966 2px solid;
         @extend %condiction-btn;
     }
     .userInfo-refresh-btn {
         background: white;
         color: #777777;
         border: #777777 2px solid;
         @extend %condiction-btn;
     }
 }
 
 .section {
     .user-bottom-content-wrapper {
         display: flex;
         margin: 10px auto;
         align-items: center;
         label {
             margin-right: 8px;
         }
     }
     .search-conditions-userInfo {
         padding: 10px !important;
         .userInfo-content {
             margin-right: 25px !important;
             min-width: 20%;
         }
         .condition-label {
             margin-right: 10px;
             color: #999999;
             font-weight: 600;
             font-size: calc(12px + .7vw);
         }
         .userInfo-select-wrapper {
             display: flex;
             .userInfo-management-select {
                 width: 215px;
             }
         }
     }
     .userInfo-section-title {
         color: #555555;
         font-weight: 600;
         font-size: calc(12px + .7vw);
         border-bottom: 2px solid #d1d1d1;
         padding-bottom: 10px;
     }
     .result-title {
         display: flex;
         justify-content: space-between;
         color: #555555;
         font-weight: 600;
         font-size: calc(12px + .7vw);
         border-bottom: 2px solid #d1d1d1;
         padding-bottom: 10px;
         h4 {
             color: #555555;
             font-weight: 600;
             font-size: calc(12px + .7vw);
         }
         .result-count {
             float: right;
         }
     }
     .email-input {
         width: 300px;
     }
 }