@charset "utf-8";
/* CSS Document */
body {
    font-size: calc(14px + 0.4vw);
}
.green-row {
    padding: 1em !important;
}
.bigpic img {
    max-width: 45em;
}
.banner {
    max-width: 100%;
}
.text-large {
    font-size: calc(16px + 0.4vw);
}
.text-black {
    color: #000;
}
.text-red {
    color: red;
}
.text-blue {
    color: blue;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-bolder {
    font-weight: bolder;
}
.text-wrap {
    word-wrap: break-word;
}
.text-padding {
    padding-left: 2em;
}
.text-underline {
    text-decoration: underline;
}
.text-indent {
    text-indent: 2em;
}
.text-height {
    line-height: 1.5em;
}
.space-evenly {
    justify-content: space-evenly;
}
.space-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.list-none {
    list-style-type: none;
}
.list-zh {
    list-style-type: cjk-ideographic;
}
.table-break {
    word-break: break-word;
}
.table-fixed {
    table-layout: fixed;
}
.table-fixed tr td {
    word-wrap: break-word;
}
.table-fixed tr th {
    word-wrap: break-word;
}
.table-fixed thead tr th {
    word-wrap: break-word;
}
.table-fixed tbody tr td {
    word-wrap: break-word;
}
.marginTop {
    margin-top: 1em;
}
.div-flex {
    display: flex;
    flex-wrap: nowrap;
}
.div-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}
.pathlink ul {
    margin: 0.2em 0 0.2em -1.8em;
}
.pathlink li {
    display: inline;
}
.banner_mark {
    background-image: url(../images1/img/banner_mark.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
}
.greenbar {
    border: 1px solid #94ce00;
    border-radius: 5px;
    background-color: #94ce00;
}
.greenbar h5 {
    margin: 0.5em;
    color: #ffffff;
    font-size: calc(20px + 0.7vw);
    font-weight: bolder;
    text-align: center;
}

.products {
    border: 1px solid #e2eec3;
    border-radius: 5px;
    background-color: #e2eec3;
    display: flex;
    width: 49%; /*calc(135px + 11vw); height: calc(70px + 3vw);*/
}
.products i {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: calc(2em + 2vw); /*calc(3rem + 1vw)*/
    font-weight: bold;
    padding-right: 0.3em;
}
.products div {
    padding-top: 0.45em;
    vertical-align: middle;
}
.bluebar {
    border: 1px solid #45ade0;
    border-radius: 5px;
    height: 100%;
}
.resultbar {
    border: 1px solid #c6e989;
    border-radius: 5px;
}
.bgwhite {
    background-color: #ffffff;
}
.newsbox div {
    border-bottom: 1px solid hsla(0, 0%, 80%, 1);
    line-height: 2em;
}
.newsbox h2,
h5,
.bluetext {
    color: #5074b7;
    font-size: 1.25em;
}
.newsbox a {
    text-decoration: none;
    color: hsla(0, 0%, 15%, 1);
    padding-left: 0.4em;
}
.newsbox a:hover {
    text-decoration: underline;
}
.hottext {
    color: #d75400;
    padding-left: 0.4em;
}
.greenbtn {
    margin-top: 0.2em;
    border-bottom: none;
}
.greenbtn a {
    padding: 0.3em calc(1.5em + 1vw) 0.3em calc(1.5em + 1vw); /*3em*/
    background-color: #e2eec3;
    display: inline-block;
    text-decoration: none;
    color: #243200;
    border-radius: 5px;
    margin: 0.3em;
}
.greenbtn a:hover {
    background-color: #1669ab;
    text-decoration: none;
    color: #ffffff;
}
.fastlink {
    margin: auto;
}
.fastlink div > a > div {
    border: 3px solid #7accba;
    background-color: #bff0e9;
    margin-top: 1em;
} /*outer div*/
.fastlink div > a > div > div {
    background-color: #83dfcb;
    display: inline-block;
    vertical-align: central;
    width: 45%;
} /*img*/
.fastlink div > a > div > div + div {
    background-color: #bff0e9;
    color: #377a6d;
    font-size: calc(14px + 0.4vw) /*1.4em*/;
    line-height: 1.2em;
    text-align: center;
    word-wrap: break-word;
    width: 55%;
    vertical-align: middle;
}
.fastlink div > a > div:hover {
    border: 3px solid #c6e989;
}

/*.introduce a{ }*/
.introduce > div {
    background-color: #c6e989;
    width: 49%;
    font-size: calc(14px + 0.4vw) /*2em*/;
    text-align: center;
    color: #377a6d;
    text-decoration: none;
}

.paperbtn {
    border: 1px solid #ffffff;
    border-radius: 5px;
    line-height: 0.8em;
    text-align: center;
    background-color: #fff;
}
.paperbtn a {
    text-decoration: none;
    color: #555;
    display: block;
    font-size: calc(14px + 0.4vw) /*0.6em*/;
    margin: 0.5em 0 0.5em 0;
}
.paperbtn a:hover {
    text-decoration: underline;
}
.paperbtn .fas-icon {
    font-size: calc(13px + 0.1vw) /*2em*/;
}

.serviceblock {
    margin: auto;
    text-align: center;
}
.servicebox {
    border: 1px solid #c6e989;
    border-radius: 5px;
    margin: 1em auto 0 auto;
    font-size: calc(14px + 0.4vw);
    font-weight: bolder;
    line-height: 1.2em;
    text-align: center;
    padding: 0.6em;
    width: 100%;
    text-decoration: none;
    color: #49c179;
    display: block;
}
.servicebox:hover {
    border: 1px solid #49c179;
}

.servicebtn {
    border: 3px solid #7accba;
    background-color: #bff0e9;
    margin: 1em 0.5em 0 0.5em;
    width: calc(6em + 8vw);
}
.servicebtn:hover {
    border: 3px solid #c6e989;
}
.servicebtn img {
    background-color: #83dfcb;
    display: inline-block;
    vertical-align: central;
    width: 45%;
}
.servicebtn span {
    background-color: #bff0e9;
    color: #377a6d;
    font-size: calc(12px + 0.6vw);
    line-height: 1.2em;
    text-align: center;
    margin: auto;
    word-wrap: break-word;
    width: 55%;
    vertical-align: middle;
}

/*
.servicebox div{border: 1px solid #c6e989;border-radius: 5px;font-size: calc(14px + 0.4vw)/*1.4em * /;line-height: 1.2em;text-align: center; padding:0.6em; }
.servicebox div:hover{ border: 1px solid #49c179; }
.servicebox div a{ text-decoration:none; color:#49c179;display:block;}
*/
.aboutlink {
    background-color: #c6e989;
    text-align: center;
}
.aboutlink div {
    margin: 0.5em;
}
.aboutlink > div {
    font-size: calc(14px + 0.4vw) /*2em*/;
}
.aboutlink div img {
    width: 100%;
    margin: auto;
}
.aboutlink div {
    margin: 0.5em;
}

/* 內頁 */
.leftbtn {
    margin-bottom: 2em;
}
.leftbtn a {
    border: 1px solid #e2eec3;
    border-radius: 5px;
    background-color: #e2eec3;
    text-align: center;
    margin: 0 0.2em 0.2em 0.2em;
    padding: 0.7em 0 0.7em 0;
    width: 98%;
}
.leftbtn a:hover {
    border: 1px solid #94ce00;
    border-radius: 5px;
    background-color: #94ce00;
}
.leftbtn a {
    text-decoration: none;
    color: hsla(0, 0%, 18%, 1);
    display: block;
}
.leftbtnFocus {
    border: 1px solid #94ce00;
    border-radius: 5px;
    background-color: #94ce00 !important;
    font-weight: bolder !important;
}
/*.articaltd{}*/

/* 環保標章介紹 */
.logo-wrapper {
    display: flex;
    margin-top: 1em;
}
.logo-wrapper img {
    width: calc(5em + 0.5vw);
    margin: auto;
}
.logo-wrapper p {
    margin: auto;
    line-height: 2em;
}
.productlist {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.productlist div {
    display: block;
    text-align: center;
    margin: 1em;
    font-size: calc(12px + 0.4vw) /*calc(5px + 0.5vw)*/;
}
.productlist div img {
    width: calc(4em + 2vw);
}

/* 標章主頁常用標章產品 */
.productlist-content-div {
    width: calc(60px + 8vw);
    text-align: center;
}
.productlist-index {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.productlist-index div {
    display: block;
    text-align: center;
    margin: 1em;
    font-size: calc(10px + 0.4vw);
}
.productlist-index div img {
    width: calc(75px + 1vw);
    margin: auto; /*calc(3.5rem + 1.5vw);*/
}
.productlist-index div a p {
    width: calc(75px + 1vw);
    margin: auto;
    color: #000;
    font-size: calc(14px + 0.4vw); /*calc(3.5rem + 1.5vw);*/
}

.productlist-index td {
    display: block;
    text-align: center;
    margin: 1em;
    width: calc(4em + 1.5vw);
    font-size: calc(10px + 0.4vw);
}
.productlist-index td img {
    width: calc(88px + 0.1vw); /*calc(3.5rem + 1.5vw);*/
}

.green-mark-img {
    width: calc(5em + 0.5vw);
    margin: auto;
}
.green-mark-small-img {
    width: calc(1em + 0.5vw);
    margin: auto;
}

.table-small-text {
    font-size: calc(10px + 0.4vw);
}
.table-head-dark {
    background-color: rgb(233, 233, 233);
}
.table-row-dark {
    background-color: rgb(242, 242, 242);
}
.table-row-light {
    background-color: rgb(249, 249, 249);
}

.table-international tr td img {
    width: 8em;
}

.table-lab-approved-list {
    border: 1px solid white;
}
.table-lab-approved-list tr th {
    border: 1px solid white;
}
.table-lab-approved-list tr td {
    border: 1px solid white;
}

.talbe-gray-border {
    border: 2px solid #9a9a9a;
}
.talbe-gray-border tr th {
    border: 2px solid #9a9a9a;
}
.talbe-gray-border tr td {
    border: 2px solid #9a9a9a;
}

.greenmark-table-img {
    width: calc(5em + 0.7vw) /*8rem*/; /*max-width: 8rem;*/
}

.mark-apply-table tr td {
    width: 15em;
}

.list-line-height li {
    line-height: 1.5em;
    margin-top: 0.5em;
}
.topbtn a {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    text-align: center;
    margin: 0 0.2em 0.2em 0.2em;
    padding: 0.7em 0 0.7em 0;
    width: 98%;
}
.topbtn a:hover {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    background-color: rgb(150, 150, 150);
}
.topbtn a {
    text-decoration: none;
    display: block;
    color: #000;
}

.thanklogo {
    width: calc(12em + 7vw);
}

.pageChangeBtnDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center; /*margin-bottom: 2em;*/
    align-items: flex-end;
}
.pageChangeBtn {
    border: 1px solid #e9e9e9; /*#c6e989;*/
    background-color: #e9e9e9;
    border-radius: 5px 5px 0 0;
    margin: 1em 0 0 0;
    font-size: calc(14px + 0.4vw);
    line-height: 1.2em;
    text-align: center;
    padding: 0.6em;
    width: 40%;
    text-decoration: none;
    color: #000; /*#49c179;*/
    display: block;
}
.pageChangeBtn:hover {
    border: 1px solid #000; /*#49c179;*/
}
.pageChangeBtnFocus {
    border-radius: 20px 20px 0 0 !important;
    font-weight: bolder !important;
}
.pageChangeBtnNotFocus {
    border-radius: 5px 5px 0 0;
    height: 2em !important;
    color: #7f7f7f !important;
    font-weight: normal !important;
}
.pageChangeContent {
    border: 2px solid #e9e9e9;
    border-radius: 10px;
    padding: 1em;
}

.div-flex {
    display: flex;
    flex-wrap: nowrap;
}
.div-flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}
.justify-content-around {
    justify-content: space-around;
}

.green-title {
    color: #94ce00;
    font-weight: 600;
    font-size: calc(16px + 1vw);
    text-shadow: 0.2px 0.2px #94ce00 !important;
}

.btn-submit {
    border: none;
    background: #6cb15e;
    color: white;
    border-radius: 4px;
    width: 65%;
    min-width: 180px;
    margin: 3% auto;
    padding: 3px 10px;
}

.btn-submit h4 {
    font-weight: 600;
    margin: 3px auto;
    font-size: calc(12px + 0.4vw);
}

@media (max-width: 1280px) {
}

@media (max-width: 992px) {
    .leftbtn div {
        width: 49%;
    }
}

@media (max-width: 767px) {
    .leftbtn div {
        width: 100%;
    }
}
@media (max-width: 575px) {
}
@media (max-width: 476px) {
}
